{% extends "layout.html" %}
{% block body %}
	<div class = "row">
		<div class = "col-xs-3 col-md-2">
			<h2>Categories</h2>
			<div class = "category">
				{% for c in  categories %}
					<a href="{{url_for('showItems', category_id = c.id)}}">{{c.name}}</a>
					<br>
				{% endfor %}
				<br>
			</div>
		</div>

		<div class = "col-xs-9 col-md-10 divider">
			<div class = "row">
				<div class = "col-md-12">
					{% if allow_edit %}
						<br>
						<a href="{{url_for('addItem', category_id = category.id)}}">Add New Item</a>
						<br><br>
					{% endif %}
				</div>
			</div>

			<div class = "row">
				<div class = "col-md-12">
					<h2>{{category.name}}({{num_items}})</h2>
					{% for i in items %}
						<a href="{{url_for('showItem', category_id = i.category_id, item_id = i.id)}}">{{i.name}}</a>
						<br>
						<!--
						<a href="{{url_for('editItem', category_id = i.category_id, item_id = i.id)}}">Edit</a>
						<a href="{{url_for('deleteItem', category_id = i.category_id, item_id = i.id)}}">Delete</a>
						<br>
						-->
					{% endfor %}
				</div>
			</div>			
		</div>
	</div>
{% endblock %}