{% extends "layout.html" %}
{% block body %}
	<script>
		function checkForm() {
			if (document.getElementById('itemTitle').value === '')
			{
				alert('Please input the title of the item.')
				return false;
			} else {
				return true;
			}
		}
		function chooseFile() {
			var names = document.getElementById('itemImgFile')
			if ('files' in names) {
				if (names.files.length == 0) {
					alert('Select one file');
				} else {
					document.getElementById('itemImageFileName').value = names.files[0].name
				}
			}
		}
	</script>
	<form action = "{{url_for('editItem', category_id = category_id, item_id = item.id)}}" method = 'POST'>
		<h2>Title</h2>
		<input type = "text" name = "itemName" placeholder = "{{item.name}}" id = "itemTitle">
		<br>
		<h2>Description</h2>
		<textarea rows = '4' cols = '50' name = 'itemDescription'>{{item.description}}</textarea>
		<h2>Choose/Input Image file</h2>
		<input type = 'file' id = 'itemImgFile' onchange = 'chooseFile()'>
		<input type = 'text' id = 'itemImageFileName' name = 'itemImageFile' value = '{{item.picture}}'>
		<h2>Category</h2>
		<select name = 'itemCategory'>
			{% for c in categories %}
				{% if c.id == category_id %}
					<option value = '{{c.name}}' selected>{{c.name}}</option>
				{% else %}
					<option value = '{{c.name}}'>{{c.name}}</option>
				{% endif %}
			{% endfor %}
		</select>
		<br><br>
		<input type = 'submit' value = 'submit' onclick = 'return checkForm()'>
		<a href="{{url_for('showItems', category_id = category_id)}}">Cancel</a>
	</form>

{% endblock %}