{% extends "layout.html" %}
{% block body %}
	
	<a href="{{url_for('show_items', category_name = category.name)}}">Back to Category</a>
	<h2>{{item.name}}</h2>
	{{item.description}}
	<br>
	{% if showPic %}
		<img src="/static/images/{{item.picture}}">
	{% endif %}
	<br>
	<h3>price: </h3>
	{{item.price}}
	<br>
	{% if allow_edit %}
		<a href="{{url_for('edit_item', item_name = item.name)}}">Edit</a>|
		<a href="{{url_for('delete_item', item_name = item.name)}}">Delete</a>
	{% endif %}
{% endblock %}