<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'style.css')}}">
</head>
<div class = 'header'>
	<a href="/">Catalog App</a>
	<div class = 'login'>
		{% if 'username' in session %}
			<a href="{{url_for('disconnect')}}">Logout</a>
		{% else %}
			<a href="{{url_for('show_login')}}">Login</a>
		{% endif %}
	</div>
</div>

{% with msg = get_flashed_messages() %}
	{% if msg %}
		<ul>
			{% for m in msg  %}
				<li> {{m}} </li>
			{% endfor %}
		</ul>
	{% endif %}
{% endwith %}
<div class="container">
	{% block body %}
	{% endblock %}
</div>
</html>