{% extends 'layout.html' %}
{% block body %}
	<script>
		function checkForm() {
			if (document.getElementById('newItemTitle').value === '')
			{
				alert('Please input the title of the item.')
				return false;
			} else {
				return true;
			}
		}
	</script>
	<form action = "{{url_for('add_item')}}" method = 'POST' enctype='multipart/form-data'>
		<h2>Title</h2>
		<input type = 'text' name = 'itemName' id = 'newItemTitle'>
		<br>
		<h2>Description</h2>
		<textarea rows = '5' cols = '50' name = 'itemDescription'></textarea>
		<h2>Price</h2>
		<input type = 'text' name = 'itemPrice'>
		<h2>Image file name</h2>
		<input type = 'file' id = 'imgFile' name = 'imgFileName'>
		<h2>Category</h2>
		<select name = 'selectedCategory'>
			{% for c in categories %}
				<option value = '{{c.name}}' selected>{{c.name}}</option>
			{% endfor %}
		</select>
		<br><br>
		<input type = 'submit' value = 'Submit' onClick = 'return checkForm()'>
		<a href="{{url_for('show_catalog')}}">Cancel</a>
	</form>
	
{% endblock %}