{% extends 'layout.html' %}
{% block body %}
	<script>
		function checkForm() {
			if (document.getElementById('newItemTitle').value === '')
			{
				alert('Please input the title of the item.')
				return false;
			} else {
				return true;
			}
		}
		function chooseFile() {
			var names = document.getElementById('imgFile')
			if ('files' in names) {
				if (names.files.length == 0) {
					alert('Select one file');
				} else {
					document.getElementById('imageFileName').value = names.files[0].name
				}
			}
		}
	</script>
	<form action = "{{url_for('addItem', categories = categories, category_id = category.id)}}" method = 'POST'>
		<h2>Title</h2>
		<input type = 'text' name = 'itemName' id = 'newItemTitle'>
		<br>
		<h2>Description</h2>
		<textarea rows = '5' cols = '50' name = 'itemDescription'></textarea>
		<h2>Price</h2>
		<input type = 'text' name = 'itemPrice'>
		<h2>Image file name</h2>
		<input type = 'file' id = 'imgFile' onchange = 'chooseFile()'>
		<input type = 'text' name = 'imageFile' id = 'imageFileName'>
		<h2>Category</h2>
		<select name = 'selectedCategory'>
			{% for c in categories %}
				{% if category.id == c.id %}
					<option value = '{{c.name}}' selected>{{c.name}}</option>
				{% else %}
					<option value = '{{c.name}}'>{{c.name}}</option>
				{% endif %}
			{% endfor %}
		</select>
		<br><br>
		<input type = 'submit' value = 'Submit' onClick = 'return checkForm()'>
		<a href="{{url_for('showItems', category_id = category.id)}}">Cancel</a>
	</form>
	
{% endblock %}